stream_test.txt
test.ppm

CMakeLists.txt.user
CMakeCache.txt
build
build2
.vscode
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
docs

*.ppm